.jumbotron {
    color: teal;
    text-align: center;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #eeeeee;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-orca {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-accion {
    width: 100%;
    background-color: gainsboro;
    color: teal;
    border:0;
    border-radius: 0px;
   
}

.icon-margin {
    padding-right: 5px;
}

th
{
    text-align: center;
    vertical-align: middle; 
}

td
{
    vertical-align: middle; 
}

.valor-centrado {
    text-align: center;
}

.tab-content {
    padding-top: 12px;
}