@teal: teal;
@grayBkg: #eeeeee;
@grayBtn: gainsboro;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}


.relleno(@top, @bottom){
    padding-top: @top;
    padding-bottom: @bottom;
}

.rellenolateral(@left, @right){
    padding-right: @right;
    padding-left: @left;
}

.jumbotron {
    color: @teal;
    text-align: center;
    .margenes(40px, 10px);
}

footer {
    .relleno(10px, 0px);
    .rellenolateral(10px, 10px);
    background-color: @grayBkg;
    .margenes(10px, 0px);
}

.card-orca {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-accion {
    width: 100%;
    background-color: @grayBtn;
    color: @teal;
    border:0;
    border-radius: 0px;
   
}

.icon-margin {
    .rellenolateral(0px, 5px);
    padding-right: 5px;
}

th
{
    text-align: center;
    vertical-align: middle; 
}

td
{
    vertical-align: middle; 
}

.valor-centrado {
    text-align: center;
}

.tab-content {
    .relleno(12px, 0px);
    padding-top: 12px;
}