.jumbotron {
  color: teal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
footer {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #eeeeee;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-orca {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-accion {
  width: 100%;
  background-color: gainsboro;
  color: teal;
  border: 0;
  border-radius: 0px;
}
.icon-margin {
  padding-left: 0px;
  padding-right: 5px;
}
th {
  text-align: center;
  vertical-align: middle;
}
td {
  vertical-align: middle;
}
.valor-centrado {
  text-align: center;
}
.tab-content {
  padding-bottom: 0px;
  padding-top: 12px;
}
